/*///////////////// FOR PHONES(479) & TABLETS (769) /////////////////*/

@media (max-width: 479px),(max-width: 769px){
    /*///////////////// START TAGS STYLES /////////////////*/
    h3{
        font-size: 2rem;
    }
    /*///////////////// END TAGS STYLES /////////////////*/

    /*///////////////// START NAV BAR STYLES /////////////////*/
    .mdl-layout {

        .mdl-layout__header {
            .mdl-layout__header-row{
                 padding: 0 30px 0 30px;
            }
        }
    }

    .nav-bar {
        .mdl-navigation{
            .mdl-button{
                 margin: 1rem;
            }

            .mdl-menu__container{
                top: 55px !important;
                right: 5px !important;
            }
        }
    }
    /*///////////////// END NAV BAR STYLES /////////////////*/

    /*///////////////// START LOGIN-REGISTER-RESET STYLES /////////////////*/
    .red-bkg{
        margin-top: 30%;
    }
    /*///////////////// END LOGIN-REGISTER-RESET STYLES /////////////////*/

    /*///////////////// START RESETPASS STYLES /////////////////*/
    .resetconfirm{
        margin-top: 50%;
    }
    /*///////////////// END RESETPASS STYLES /////////////////*/

    /*///////////////// START SEARCH STYLES /////////////////*/
    .search{
        margin-top: 10%;

        .search-icon{
            width: 10%;
        }

        .mdl-textfield{
            width: 80%;
        }
    }
    /*///////////////// END SEARCH STYLES /////////////////*/

    /*///////////////// START INDEX STYLES /////////////////*/
    .index{
        .bg-ts{
            margin-top: 7%;
                    
            .slogan,.bold{
                font-size: 35px;
            }
        }
    }
    /*///////////////// END INDEX STYLES /////////////////*/
}


/*///////////////// ONLY FOR PHONES(479) /////////////////*/
@media (max-width: 479px){
    .g-recaptcha-phone{
        margin-left: -6%;
    }

    .nav-bar {
        .mdl-navigation{
            .mdl-menu__container{
                &::after{
                    right: calc(21% - 12px);
                }
            }
        }

        .favorites{
            .nav-tiles{
                margin-right: 20px;
            }
        }
    }

    /*///////////////// START INDEX STYLES /////////////////*/
    .index{
        .bg-ts{
            margin-top: 15%;
                    
            .slogan,.bold{
                font-size: 25px;
            }
        }
    }
    /*///////////////// END INDEX STYLES /////////////////*/
}