/*///////////////// FOR PHONES(479) & TABLETS (769) /////////////////*/

@media (max-width: 479px),(max-width: 769px){
    .g-recaptcha-container{
        margin-left: 0;
        margin-right: 0;

        .g-recaptcha-tablet{
            width: 90%;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    /*///////////////// START TAGS STYLES /////////////////*/
    h3{
        font-size: 2rem;
    }
    /*///////////////// END TAGS STYLES /////////////////*/

    /*///////////////// START NAV BAR STYLES /////////////////*/
    .mdl-layout--fixed-header {
        .mdl-layout__header {
            .mdl-layout__header-row{
                 padding: 0 5% 0 5%;
            }
        }
    }

    .nav-bar {
        .mdl-navigation{
            .mdl-button{
                 margin: 1rem;
            }

            .mdl-menu__container{
                top: 55px !important;
                right: 5px !important;
            }
        }
    }
    /*///////////////// END NAV BAR STYLES /////////////////*/

    /*///////////////// START LOGIN-REGISTER-RESET STYLES /////////////////*/
    .red-bkg{
        margin-top: 30%;
    }
    /*///////////////// END LOGIN-REGISTER-RESET STYLES /////////////////*/

    /*///////////////// START RESETPASS STYLES /////////////////*/
    .resetconfirm{
        margin-top: 50%;
    }
    /*///////////////// END RESETPASS STYLES /////////////////*/

    /*///////////////// START SEARCH STYLES /////////////////*/
    .search{
        margin-top: 10%;

        .search-icon{
            width: 10%;
        }

        .mdl-textfield{
            width: 80%;
        }
    }
    /*///////////////// END SEARCH STYLES /////////////////*/

    /*///////////////// START INDEX STYLES /////////////////*/
    .index{
        .bg-ts{
            margin-top: 7%;
                    
            .slogan,.bold{
                font-size: 35px;
            }
        }
    }
    /*///////////////// END INDEX STYLES /////////////////*/
}


/*///////////////// ONLY FOR PHONES(479) /////////////////*/
@media (max-width: 479px){
    .g-recaptcha-container{
        .g-recaptcha-tablet{
            width: 85%;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }

    .nav-bar {
        .mdl-navigation{
            .mdl-menu__container{
                &::after{
                    right: calc(21% - 12px);
                }
            }
        }

        .favorites{
            .nav-tiles{
                margin-right: 20px;
            }
        }
    }

    /*///////////////// START INDEX STYLES /////////////////*/
    .index{
        .bg-ts{
            margin-top: 15%;
                    
            .slogan,.bold{
                font-size: 25px;
            }
        }
    }
    /*///////////////// END INDEX STYLES /////////////////*/

    /*///////////////// START NAV BAR STYLES /////////////////*/
    .fixed-lateral-nav{
        width: 100%;
        min-height: 54px;
        max-height: 64px;
        padding: 0;
        margin: 0;
        bottom: 0;
        display: table;
        -webkit-box-shadow: 0px -5px 4px -5px rgba(0,0,0,1);
        -moz-box-shadow: 0px -5px 4px -5px rgba(0,0,0,1);
        box-shadow: 0px -5px 4px -5px rgba(0,0,0,1);

        ul{
            margin: 0;
            bottom: 0;
            display: table-cell;
            vertical-align: middle;

            .tab{
                display: inline;
                margin: 0 4%;

                .lateral-btn{
                    i{
                        color: rgba(0,0,0,.5);
                    }

                    span{
                        display: none;
                    }
                }
            }

            /*////////// ACTIVE-SECTION Y LOS ESTILOS QUE ABARCA SOLO DEBEN APLICARSE CUANDO LA PESTAÑA ESTA ACTIVA /////////////*/
            .active-section{
                .lateral-btn{
                    color: $primary-color;

                    i{
                        color: $primary-color;
                        top: 35%;
                    }

                    span{
                        font-size: 0.8rem;
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    /*///////////////// END NAV BAR STYLES /////////////////*/
}


/*///////////////// ONLY FOR PHONES(<400) /////////////////*/
@media (max-width: 400px){
    .g-recaptcha-container{
        .g-recaptcha-tablet{
            width: 100%;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
}

/*///////////////// ONLY FOR SMALLEST PHONES(<320) /////////////////*/
@media (max-width: 320px){
    .g-recaptcha-container{
        .g-recaptcha-tablet{
            width: 100%;
            margin-left: -9%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
}