/*///////////////// FOR PHONES(479) & TABLETS (769) /////////////////*/

@media (max-width: 479px),(max-width: 769px){
    /*///////////////// START TAGS STYLES /////////////////*/
    h3{
        font-size: 2rem;
    }
    /*///////////////// END TAGS STYLES /////////////////*/

    /*///////////////// START LOGIN-REGISTER-RESET STYLES /////////////////*/
    .red-bkg{
        margin-top: 30%;
    }
    /*///////////////// END LOGIN-REGISTER-RESET STYLES /////////////////*/

    /*///////////////// START RESETPASS STYLES /////////////////*/
    .resetconfirm{
        margin-top: 50%;
    }
    /*///////////////// END RESETPASS STYLES /////////////////*/

    /*///////////////// START SEARCH STYLES /////////////////*/
    .search{
        margin-top: 10%;

        .search-icon{
            width: 10%;
        }

        .mdl-textfield{
            width: 80%;
        }
    }
    /*///////////////// END SEARCH STYLES /////////////////*/
}


/*///////////////// ONLY FOR PHONES(479) /////////////////*/
@media (max-width: 479px){
    .g-recaptcha-phone{
        margin-left: -6%;
    }
}