@import 'variables.scss';

/*///////////////// START TAGS STYLES /////////////////*/
body {
    background-color: $primary-color;
    min-height: 0;
}

body,p,h1,h2,h3,h4,h5,h6{
    font-family: $font;
}

span{
    font-size: 0.9rem;
}
/*///////////////// END TAGS STYLES /////////////////*/

/*///////////////// START LOGIN-REGISTER-RESET STYLES /////////////////*/
.red-bkg {
    background-color: $primary-color;
    margin-top: 5%;
    text-align: center;
    color: white;

    .mdl-textfield__input{
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    .mdl-textfield__label{
        color: white;

        &:after{
            background-color: $accent-color;
        }
    }

    .mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
    .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
        color: $accent-color;
    }

    .mdl-textfield{
        width: 340px;
    }

    form{
        margin-top: 5%;
        margin-bottom: 8%;

        input{
            color: white;
        }
    }

    .mdl-button{
        color: white;
    }

    ::selection{
        background: $accent-color;
        color: $third-color;
    }
}

.register{
    margin-top: 0 !important;

    form{
        margin-top: 0;
    }
}
/*///////////////// END LOGIN-REGISTER-RESET STYLES /////////////////*/

/*///////////////// START NAV BAR STYLES /////////////////*/
.mdl-layout {
    position: fixed;
    top: 0;

    .mdl-layout__header {
        background-color: $primary-color;
    }
}

.nav-bar {
    .material-icons {
        color: rgba(0,0,0,.5);
    }
}
/*///////////////// END NAV BAR STYLES /////////////////*/

/*///////////////// START GENERIC STYLES /////////////////*/
.mdl-button--accent{
    background-color: $accent-color !important;
    color: $third-color !important;
}

.display-inline{
    display: inline;
}

.logo{
    width: 100%;
}
/*///////////////// END GENERIC STYLES /////////////////*/

/*///////////////// START RESETPASS STYLES /////////////////*/
.resetconfirm{
    margin-top: 15%;
}
/*///////////////// END RESETPASS STYLES /////////////////*/


@import 'phone.scss';