@import 'variables.scss';

/*///////////////// START TAGS STYLES /////////////////*/
body {
    background-color: $primary-color;
    min-height: 0;
}

body,p,h1,h2,h3,h4,h5,h6{
    font-family: $font;
}

span{
    font-size: 0.9rem;
}
/*///////////////// END TAGS STYLES /////////////////*/

/*///////////////// START LOGIN-REGISTER-RESET STYLES /////////////////*/
.red-bkg {
    background-color: $primary-color;
    margin-top: 5%;
    text-align: center;
    color: white;

    .mdl-textfield__input{
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    .mdl-textfield__label{
        color: white;
        font-weight: normal;

        &:after{
            background-color: $accent-color;
        }
    }

    .mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
    .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
        color: $accent-color;
    }

    .mdl-textfield{
        width: 340px;
    }

    form{
        margin-top: 5%;
        margin-bottom: 8%;

        input{
            color: white;
        }
    }

    .mdl-button{
        color: white;
    }

    ::selection{
        background: $accent-color;
        color: $third-color;
    }
}

.register{
    margin-top: 0 !important;

    form{
        margin-top: 0;
    }
}

.g-recaptcha-desktop{
    margin: 5% 0;
}

@media (min-width: 840px){
    .g-recaptcha-desktop{
        margin-left: 200px !important;
    }
}
/*///////////////// END LOGIN-REGISTER-RESET STYLES /////////////////*/

/*///////////////// START NAV BAR STYLES /////////////////*/
.mdl-layout {
    position: fixed;
    top: 0;
    left: 0;

    .mdl-layout__header {
        background-color: $primary-color;

        .mdl-layout__header-row{
             padding: 0 200px 0 200px;
        }
    }
}

.nav-bar {
    .material-icons {
        color: rgba(0,0,0,.5);
    }

    .mdl-navigation{
        .mdl-button{
             margin: 1.5rem;
        }

        .mdl-menu__container{
            top: 55px !important;
            right: 181px !important;
        }

        /*Flecha del contenedor*/
        .mdl-menu__container::after{
            content: '';
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: white;
            position: absolute;
            top: -19px;
            right: calc(20% - 12px);
        }
    }

    .nav-tiles{
        .tile{
            width: 70px;
        }
    }

    .nav-tiles, .nav-content{
        display: inline-block;
        vertical-align: middle;
    }

    .nav-content{
        padding: 0 5px;

        p{
            margin: 0;
            padding: 0;
        }

        .fav-description{
            white-space: normal;
            color: $third-color;
            width: 100%;
                
            p{
                font-size: 0.8em;
                line-height: normal;
            }
        }
    }

    .favorites{
        .mdl-menu__item{
            height: 100%;
            padding: 10px;
            width: 300px;

            .fav-link{
                display: block;
                height: 100%;
            }
        }

        .fav-title{
            font-size: 1.4em;
        }
    }

    .notification{
        .mdl-menu__item{
            height: 100%;
            padding: 8px 0;
            width: 300px;

            .fav-link{
                display: block;
                height: 100%;

                .fav-title{
                    font-size: 1.1em;
                }
            }
        }

        .nav-content{
            padding: 0 15px;
        }
    }
}
/*///////////////// END NAV BAR STYLES /////////////////*/

/*///////////////// START GENERIC STYLES /////////////////*/
.mdl-button--accent{
    background-color: $accent-color !important;
    color: $third-color !important;
}

.display-inline{
    display: inline;
}

.logo{
    width: 100%;
}

.unread{
    background-color: lighten($accent-color, 25%);
}
/*///////////////// END GENERIC STYLES /////////////////*/

/*///////////////// START RESETPASS STYLES /////////////////*/
.resetconfirm{
    margin-top: 15%;
}
/*///////////////// END RESETPASS STYLES /////////////////*/

/*///////////////// START SEARCH STYLES /////////////////*/
#search{
    display: none;
}

.search{
    margin-top: 0;
    color: $third-color;

    .search-card{
        min-height: 0;
        height: 45px;
        display: block;
    }

    .search-icon,.search-input{
        display:inline-block;
        line-height: 40px;
    }

    .mdl-textfield{
        padding: 0;
        margin: 0;
        top: -5px;
        width: 90%;

        .search-input{
            input{
                color: $third-color !important;
            }
        }
    }
}
/*///////////////// END SEARCH STYLES /////////////////*/

/*///////////////// START INDEX STYLES /////////////////*/
.index{
    background-color: white;
}
/*///////////////// END INDEX STYLES /////////////////*/