@import 'variables.scss';

body {
    background-color: $primary-color;
    font-family: $font;
}

.mdl-layout {
    position: fixed;
    top: 0;
}

.mdl-layout__header{
    background-color: $primary-color;
}