/*//////////////// COLOR PALETTE ////////////////////*/

$primary-color: #FF1643;
$accent-color: #FFFF00;
$secondary-color: #FF3757;
$third-color: #445963;

/*//////////////// FONT DEFINITIONS ////////////////////*/

$font: 'Open Sans', sans-serif;