<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../../Scripts/tuServicioApp.js"></script>
</head>
<html>
<body class="container body-content">
    <div class="view">
        <header class="bg-ts">
            <h2 class="slogan">El profesional que buscás,<br /><span class="bold">cuando lo necesitás.</span></h2>
        </header>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect fab-fixed">
            <i class="material-icons">search</i>
        </button>
        <!--pantalla de busqueda-->
        <div class="mdl-grid red-bkg search" id="search">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
                <div class="mdl-card search-card mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet">
                    <div class="mdl-cell mdl-cell--1-col search-icon">
                        <i class="material-icons">search</i>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield search-input mdl-cell mdl-cell--8-col">
                        <input class="mdl-textfield__input" type="text" id="searche-execute" placeholder="Buscar">
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-grid banner-ads">
            <!--ACA VA INSERTADO EL BANNER PUBLICITARIO QUE META GOOGLE ALEATORIAMENTE. CUANDO SE PONGA PRODUCTIVO, QUITAR LOS ESTILOS FIJOS-->
            <p class="mdl-grid">BANNER PUBLICITARIO</p>
        </div>
        <div class="mdl-grid mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone card-service-container">
            <!---------------------MOCKUPS DE CARDS---------------------->
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-cell--3-col mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-card mdl-shadow--3dp card-service">
                <div class="mdl-card__title card-service__header">
                    <h3 class="mdl-card__title-text card-service__header-title"><!--TEXTO MOCKUP-->A presupuestar</h3>
                    <div class="card-service__header-description">
                        <!--TEXTO MOCKUP-->
                        Reparacion de lavarropa, cocina, y otros electrodomesticos.
                        <p class="card-service__header-location">
                            <i class="material-icons">place</i>
                            C.A.B.A.
                        </p>
                    </div>
                </div>
                <div class="mdl-card__actions card-service__actions">
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">access_time</i>
                        <p class="card-service__info-text">
                            1-3 d
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <i class="material-icons card-service__info-icon">star</i>
                        <p class="card-service__info-text">
                            4,0
                        </p>
                    </div>
                    <div class="card-service__actions-info">
                        <button class="card-service__actions-info_button interactive-button">
                            <i class="material-icons card-service__actions-info_button-icon">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
