@{
    ViewBag.Title = "Buscar";
}
<!DOCTYPE html>
<html>
<body class="index">
    <div class="mdl-grid red-bkg search" id="search">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="mdl-card search-card mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet">
                <div class="mdl-cell mdl-cell--1-col search-icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="mdl-textfield mdl-js-textfield search-input mdl-cell mdl-cell--8-col">
                    <input class="mdl-textfield__input" type="text" id="searche-execute" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>