<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--el theme-color cambia el color del url box para chrome de android e ios*@-->
    <meta name="theme-color" content="#FF1643">
    <title>tuServicio</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="Content/normalize.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/material.min.css" rel="stylesheet" />
    <link href="Content/tuservicio-styles.min.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/material.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/tuServicioApp.js"></script>
</head>
<html>
<body ng-app="tuServicioApp">
    <div class="mdl-layout--fixed-header">
        <header class="mdl-layout__header nav-bar">
            <div class="mdl-layout__header-row">
                <img src="Content/Img/logo_white.svg" />
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <button class="mdl-button mdl-js-button mdl-button--icon" id="notifications"><i class="material-icons">notifications</i></button>
                    <ul class="notification mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="notifications">
                        <!--/////////////////////////// MOCKUPS DE NOTIFICACIONES //////////////////////////-->
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider unread">
                            <a href="#" class="fav-link">
                                <div class="mdl-cell--12-col nav-content">
                                    <p class="fav-title">Respondieron a tu pregunta</p>
                                    <div class="fav-description">
                                        <p class="">Reparacion de lavarropas, secarropas, etc.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                            <a href="#" class="fav-link">
                                <div class="mdl-cell--12-col nav-content">
                                    <p class="fav-title">Recuerda calificar tu ultimo servicio</p>
                                    <div class="fav-description">
                                        <p class="">Instalacion y reparacion de aire acondicionado para casas y negocios.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <button class="mdl-button mdl-js-button mdl-button--icon" id="favorites"><i class="material-icons">favorite</i></button>
                    <ul class="favorites mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="favorites">
                        <!--/////////////////////////// MOCKUPS DE FAVORITOS //////////////////////////-->
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                            <a href="#" class="fav-link">
                                <div class="mdl-cell--4-col-desktop mdl-cell--1-col-phone mdl-cell--3-col-tablet nav-tiles">
                                    <img src="Content/Mockup_img/washer.jpg" class="tile" />
                                </div>
                                <div class="mdl-cell--9-col-desktop mdl-cell--3-col-phone mdl-cell--6-col-tablet nav-content">
                                    <p class="fav-title">A presupuestar</p>
                                    <div class="fav-description">
                                        <p class="">Reparacion de lavarropas, secarropas, etc.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                            <a href="#" class="fav-link">
                                <div class="mdl-cell--4-col mdl-cell--1-col-phone mdl-cell--3-col-tablet nav-tiles">
                                    <img src="Content/Mockup_img/airconditioner.JPG" class="tile" />
                                </div>
                                <div class="mdl-cell--9-col mdl-cell--3-col-phone mdl-cell--6-col-tablet nav-content">
                                    <p class="fav-title">Desde $1500</p>
                                    <div class="fav-description">
                                        <p class="">Instalacion y reparacion de aire acondicionado para casas y negocios.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="fixed-lateral-nav">
            <ul>
                <li class="tab active-section">
                    <button class="mdl-button mdl-js-button mdl-button--icon lateral-btn" id="home">
                        <i class="material-icons">home</i>
                        <span>Inicio</span>
                    </button>
                </li>
                <li class="tab">
                    <button class="mdl-button mdl-js-button mdl-button--icon lateral-btn" id="home">
                        <i class="material-icons">shopping_cart</i>
                        <span>Compras</span>
                    </button>
                </li>
                <li class="tab">
                    <button class="mdl-button mdl-js-button mdl-button--icon lateral-btn" id="home">
                        <i class="material-icons">local_offer</i>
                        <span>Ventas</span>
                    </button>
                </li>
                <li class="tab">
                    <button class="mdl-button mdl-js-button mdl-button--icon lateral-btn" id="home">
                        <a href="templates/account/login.html" class="material-icons">person</a>
                        <span>Usuario</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div ng-view></div>
</body>
</html>