@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header nav-bar">
        <div class="mdl-layout__header-row">
            <img src="~/Content/Img/logo_white.svg" />
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation" >
                <a class="mdl-navigation__link" href="#"><i class="material-icons">notifications</i></a>
                <a class="mdl-navigation__link" href="#"><i class="material-icons">favorite</i></a>
                @*PENDIENTE: Ambos links deben abrir un div que muestre las notificaciones y los favoritos segun corresponda*@
            </nav>
        </div>
    </header>
</div>
<div class="">
    @RenderBody()
</div>
