<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--el theme-color cambia el color del url box para chrome de android e ios*@-->
    <meta name="theme-color" content="#FF1643">
    <title>tuServicio</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="mdl-grid red-bkg" ng-controller="loginController as controller">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
                <img class="logo" src="../../Content/Img/logo_white.svg" />
            </div>
            <form ng-submit="controller.login()" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--4-col-phone mdl-cell--2-offset-tablet">
                <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" ng-model="controller.username" type="email" id="email" required>
                        <label class="mdl-textfield__label" for="email">Email</label>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" ng-model="controller.password" type="password" id="password" required>
                        <label class="mdl-textfield__label" for="password">Contraseña</label>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--4-col-phone mdl-cell--8-col-tablet">
                    <div class="mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--2-offset-tablet">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
            </form>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--2-offset-tablet">
                <div class="mdl-cell mdl-cell--12-col">
                    <a href="#forgot" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        Olvidé mi contraseña
                    </a>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <a href="#register" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        Registrarse
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>