@{
    ViewBag.Title = "Confirmación de reinicio de contraseña - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-grid red-bkg resetconfirm">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
        <h3>¡Listo! Revisá tu correo</h3>
        <p>Te enviamos un email a tu cuenta para que puedas reestablecer tu contraseña</p>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet display-inline">
            <a href="@Url.Content("~/Account/Login")" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Iniciar sesión
            </a>
        </div>
    </div>
</div>
